/* CSS Reset  */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Logo And Image  */
#logo{
    margin: 10px 30px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}

/* List Styling */

#navbar ul{
    display: flex;
    font-family: 'Merienda One', cursive;
}

#navbar ul li{ 
    /* color: whitesmoke; */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: whitesmoke;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: cornsilk;
}

/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 660px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 780px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.85;
}

#home h1{
    color: cornsilk;
    text-align: center;
    font-family: 'Pattaya', sans-serif;
}

#home p{
    color: rgb(69, 9, 211);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Pattaya', sans-serif;
}

/* Services Section  */
#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 10px;
    border-radius: 28px;
    background: #f2f2f2;
}

#services .box img{
    height: 155px;
    margin: auto;
    display: block;
}

#services .box p{
    font-family: 'RocknRoll One', sans-serif;
}

/* Clients Section  */
#clients-section{
    /* height: 544px; */
    position: relative;
}

#clients-section::before{
    content: "";
    position: absolute;
    background: url('bg1.png') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.45;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-item{
    padding: 20px ;  
    
}
#clients img{
    height: 150px;
    
}


/* Cantact Section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('bg2.png') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.1rem;
    font-family: sans-serif;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
footer{
    background: black;
    color: whitesmoke;
    padding: 9px 20px;
    font-family: 'RocknRoll One', sans-serif;
}

/* Utility Class  */
.h-main{
    font-size: 4rem;
    padding: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.h-primary{
    font-size: 3.8rem;
    padding: 42px;
    font-family: 'RocknRoll One', sans-serif;
}

.h-secondary{
    font-size: 2rem;
    padding: 10px;
    font-family: 'RocknRoll One', sans-serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid wheat;
    background-color: pink;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}

